
/app/
/config/
/interface/
/lib/*
main.d.ts
main.js
package-lock.json


# 上传目录
upload/

tmp/
database/*/log.data.json
database/*/log.meta.json
logs/
node_modules/
run/
typings/

.DS_Store
*.swp
*.log

coverage/
.idea/
*.lock
app.js

test/i.js
test/i.test.ts

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

# ************** 例外 **************
!model_cli/*.js
!app/public/**/*.js
!config/*.local.js
!prettier.config.js